
.button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    ::ng-deep .mat-icon{
        font-size: 16px;
    }
}

.button-primary{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    text-transform: none;
    box-shadow: none;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    padding: 6px 16px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 25px;
  }