@mixin theme($theme) {
    background-color: map-get($theme, background-body);
    color: map-get($theme, primary-text);

    .icon-svg {
        transition: fill 0.1s ease; 
        fill: map-get($theme, primary-text);
    }

    a {
        color: map-get($theme, primary-text) !important;
    }

    .mat-mdc-header-row{
        color: map-get($theme, primary-text);
        background-color: map-get($theme, background-card);
    }

    .mat-mdc-header-cell{
        border-bottom-color: map-get($theme, border-mat-mdc);
    }

    .mat-mdc-row{
        color: map-get($theme, primary-text);
    }

    .mat-mdc-cell{
        border-bottom-color: map-get($theme, border-mat-mdc);
    }
      
    .mat-toolbar-single-row{
        background-color: map-get($theme, background-card);
    }

    .section-title{
        background-color: map-get($theme, background-card);
        color: map-get($theme, primary-text);
    }

    .card-ui{
        background-color: map-get($theme, background-card);        
        box-shadow: unquote(map-get($theme,box-shadow-card));
        border: map-get($theme, border-card);
        .card-ui-thumbnail{
            border: map-get($theme, border-card-thumbnail);
        }
    }

    .button-primary{
        color: map-get($theme, bw-text);
        background-color: map-get($theme, primary);
        --variant-textColor: #0085db;
        --variant-outlinedColor: #0085db;
        --variant-outlinedBorder: rgba(0, 133, 219, 0.5);
        --variant-containedColor: #ffffff;
        --variant-containedBg: #0085db;
    }

    .item-selected{
        color: map-get($theme, tertiary-text) !important;
        a{
            color: map-get($theme, tertiary-text) !important;
        }
        .icon{
            fill: map-get($theme, tertiary-text) !important;
        }        
    }

  }
  