@import "fonts";
@import 'themes';
@import 'tecappsys-components';
@import 'buttons';

html, body { height: 100%; }
body { 
  padding: 24px;
}

@media (max-width: 768px) {
  body { 
    padding: 8px;
  }
}

.custom-container{
  max-width: 1144px;
  padding: 0 24px;
}

.section-router-outlet{
  margin: 24px 0;
}
.container-content{
  display: flex;
  flex-grow: 1;
  padding-bottom: 60px;
  flex-direction: column;
  z-index: 1;
  background-color: transparent;
}
.container-content{
  margin-left: 270px; //87px
}
.container-menu{
  z-index: 100;
  width: 87px;
  flex-shrink: 0;
  position: absolute;
  border-radius: 13px;
}
